---
title: Анализ устойчивости геосреды на внешние воздействия
description: 'Снижение природных и техногенных георисков. Обеспечение экологической и промышленной безопасности при промышленной разработке'
keywords: 'промышленная безопасность, экологическая безопасность, оценка состояния окружающей среды, интенсификация скважины, численное моделирование, техногенные риски, геодеформационный процесс, геофизические материалы, техногенное землетрясение, промысловые сточные воды, закачка в пласт, буровой шлам, геосреда, продуктовый горизонт, добыча углеводородов,техногенное землетрясение, шельфовое месторождение'
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Консультационные услуги', url: '/services#consulting' }

  .row.text-center
    %h2 Анализ устойчивости геосреды на внешние воздействия

  .row.text-center
    %h3 Область применения

  .row
    %li Обеспечение требований промышленной и экологической безопасности при разработке и эксплуатации месторождений углеводородов.
    %li Планирование работ по интенсификации добычи.
    %li Оценка сейсмической опасности.
    %p

    %p Построение объективных экспертных (прогнозных) оценок состояния окружающей среды, на которую оказывается технологическое воздействие, позволяет избежать негативных последствий от техногенных катастроф и обеспечить таким образом бесперебойную и безопасную работу промышленных объектов. Настоящий вид услуги предлагает широкий спектр аналитических работ с применением современных методов численного моделирования и анализа сейсмологических и геофизических материалов. Цель – мониторинг и снижение природных и техногенных георисков и обеспечение экологической и промышленной безопасности контролируемых территорий. Идеологической основой являются современные представления о геосреде и протекающих в ней сейсмических, геодеформационных и флюидодинамических процессов.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Анализ устойчивости геологической среды на внешние воздействия при промышленном освоении месторождений нефти и газа', src: '/images/services/consulting/consulting-1.png' }
      %i Анализ устойчивости геологической среды на внешние воздействия при промышленном освоении месторождений нефти и газа


    %p
      %strong В мировой практике
      отмечены многочисленные случаи возникновения техногенных землетрясений, связанные с промышленным освоением месторождений нефти и газа. К ним относятся серия землетрясений на месторождениях в Оклахоме (США), на месторождении Экофиск (Норвегия) и др., ассоциируемых так или иначе с разработкой месторождений нефти и газа. Даже малоамплитудные техногенные события могут вызвать опасные сейсмические воздействия.

    %p Так, землетрясение с магнитудой М=5.6, произошедшее в начале сентября 2016 г. в Оклахоме и вызвавшее повреждение зданий, связано с добычей сланцевой нефти, не смотря на то, что интенсивность операций по гидроразрыву там резко снизилась за последние годы. Власти американского штата Оклахома после землетрясения объявили чрезвычайное положение в округе Пауни и потребовали законсервировать 37 скважин для закачки промысловых вод, используемых местными нефтегазовыми компаниями. Кроме того, перед началом сланцевого бума местные страховые компании не производили страхование от землетрясений, поскольку на них не было спроса. Но в 2016 г. такое страхование стало едва ли не самым популярным продуктом, а значит стали востребованы экспертные оценки в области сейсмической опасности и риска.


    %p
      %strong Освоение шельфовых месторождений
      затруднено как технической сложностью их промышленной разработки и созданием инфраструктуры, так и высокими требованиями к экологической безопасности.

    %p Компании, приступающие, а также находящиеся в процессе реализации проектов, предусматривающих добычу нефти и газа, должны учитывать исходную сейсмичность районов технологического воздействия. В то же время, применение буровых растворов на нефтяной основе ставит ряд вопросов о выборе способа утилизации продуктов бурения. Поскольку удаление продуктов бурения при использовании растворов на нефтяной основе в морскую воду запрещено, а вывоз их на берег связан с повышенным риском загрязнения морской среды при транспортировках, в качестве основного метода утилизации отработанных буровых растворов и выбуренного шлама предполагается способ их подземного захоронения путем закачки в глубокозалегающие горизонты. Техногенные воздействия на недра могут спровоцировать в данных районах землетрясения техногенной природы, сопровождаемые целым рядом негативных последствий.


    %p
      %strong Технологические процессы
      , которые могут вызывать явления наведенной сейсмичности в результате эксплуатации месторождений являются следующие:

    %ul
      %li добыча углеводородов;
      %li закачка воды и растворов на нефтяной основе для создания барьера давления, препятствующего прорывам газа в добывающие скважины;
      %li утилизации бурового шлама и прочих отходов бурения.

    %p
      %strong Под сейсмичностью техногенной природы
      понимают два различных процесса. Первый процесс – землетрясения, которые возникают исключительно в результате техногенных воздействий на геосреду и без таковых воздействий никогда бы не произошли. Это так называемая возбужденная сейсмичность. Другой процесс подразумевает техногенное воздействие на уже подготовленный очаг ожидаемого землетрясения или инициирование сейсмических подвижек по уже имеющимся разломам. Ниже приведена наглядная схема техногенных воздействий на геосреду, которые могут привести к возникновению землетрясений в результате промышленной разработки нефтегазовых месторождений.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Cхема техногенных воздействий на геосреду', src: '/images/services/consulting/consulting-2.png' }
      %i Cхема техногенных воздействий на геосреду


    %p Возможность возникновения техногенных катастроф при добыче углеводородов (в том числе и в арктических условиях) регламентирует проведение мероприятий объективного контроля, ориентированных на выявление опасностей таких явлений и прогноза неблагоприятных воздействий.

    %p Актуальность подобных работ связана с необходимостью предотвращения возможных техногенных катастроф, связанных с движениями грунта, возникающими при наведенной сейсмичности. Кроме того, возможность активизации наведенной сейсмичности должна учитываться также при разработке шельфовых месторождений углеводородов, так как техническая сложность и, как следствие, стоимость ликвидации последствий экологических катастроф, например, в морских условиях на порядок превышают сложность и стоимость аналогичных работ на суше.


    %p.text-center
      %img.img-responsive.service-image{ alt: 'Модельное распределение интенсивности напряжения в горизонтальной плоскости на уровне продуктивного горизонта', src: '/images/services/consulting/consulting-3.jpg' }
      %i Модельное распределение интенсивности напряжения в горизонтальной плоскости на уровне продуктивного горизонта

    %p Для минимизации георисков при извлечении углеводородного сырья, утилизации промысловых сточных вод, инициации гидроразрывов пластов и прочих технологических воздействиях на окружающую среду мы предлагаем 4D моделирование напряженно-деформированного состояния геосреды на основе современных представлений о пороупругой модели среды с учетом сейсмологических и геофизических материалов исследований и технологических параметров воздействия на месторождение (месторождения).

    %p Полученные оценки используются для прогноза катастрофических подвижек и количественных параметров сейсмических воздействий. Выполняется обоснование выбранного района расположения полигона закачки попутно добываемых вод с точки зрения их положения относительно активных разломов региона.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Модельное распределение интенсивности напряжения в разрезе запад-восток, проведенном через точку, в которой достигается максимальная интенсивность напряжения при добыче углеводородов', src: '/images/services/consulting/consulting-4.jpg' }
      %i Модельное распределение интенсивности напряжения в разрезе запад-восток, проведенном через точку, в которой достигается максимальная интенсивность напряжения при добыче углеводородов

    %p
      Рассматривая
      %strong возможности возникновения техногенных чрезвычайных ситуаций при добыче углеводородов в шельфовых зонах
      , надо указать на необходимость #{link_to 'мониторинга сейсмической и микросейсмической', '/services/seismic-monitoring-system'} обстановки района работ. Актуальность подобных исследований связана с необходимостью предотвращения возможных экологических катастроф, связанных с движениями грунта, возникающими при техногенной сейсмичности; и получения безопасных технологий интенсификации добычи нефти, газа и газоконденсата.

    %p Поэтому возможность активизации техногенной сейсмичности должна учитываться нефтегазовыми компаниями также при разработке шельфовых месторождений углеводородов. Решение этой проблемы видится с одной стороны в получении эмпирических данных по сейсмичности путем развития комплексной системы мониторинга в зонах промышленной разработки месторождения углеводородов; с другой – в моделировании сейсмодеформационного процесса на основе представлений о пороупругой модели среды с учетом вновь полученных эмпирических данных о сейсмичности, геологии и параметрах техногенного воздействия при промышленном освоении месторождений углеводородов.

    %p
      %strong Это позволяет дать объективные экспертные оценки наиболее опасных сейсмических воздействий, вызванных техногенными землетрясениями.
      Полученные данные используются далее в оценках сейсмической опасности при проектировании промышленных объектов.


    %p На данный момент существует ряд услуг, на базе разработанных программных пакетов, позволяющих моделировать изменения напряженно-деформированного состояния твердого скелета и давления флюида в пористой среде.

    %p Однако, программные модули, дающие теоретические прогнозы по оценке сейсмичности и устойчивости геологической среды, должны быть непосредственно связаны #{link_to 'с технологиями комплексного наземного и морского сейсмического мониторинга и прогноза сейсмических воздействий', '/services/seismic-monitoring-system'}.

    %p Такой подход, при моделирования сейсмического, геодеформационного и флюидодинамического процессов при промышленном освоении шельфовых нефтегазовых месторождений (извлечении углеводородного сырья, утилизации промысловых сточных вод, инициации гидравлических разрывов пластов), предоставит реальную картину возможности активизации техногенной сейсмичности и даст экспертные оценки ожидаемых сейсмических воздействий на промышленные объекты.

    %p
      %strong Настоящая услуга основана на данных комплексного мониторинга сейсмических колебаний с учётом географических и геологических особенностей региона, а также на базе компьютерного моделирования процессов изменений в геологической среде, возникающих в результате разработки месторождения.


  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Оценка устойчивости геологической среды до начала, в процессе, и в планируемые сроки промышленной эксплуатации месторождения.
      %li Предоставление сейсмологического обоснования для проектирования строительства скважин, разработки месторождений и процесса добычи углеводородов, закачку воды и растворов на нефтяной основе, бурового шлама и прочих отходов бурения.
      %li Анализ предполагаемой технологической схемы разработки месторождений и основных физико-механических процессов, происходящих в результате внешних воздействий.
      %li Проведение комплекса работ по сейсмическому и микросейсмическому мониторингу районов нефтегазовых месторождений.
      %li Производство экспертных оценок наиболее опасных сейсмических воздействий, возникающих в результате разработки месторождения.
      %li Анализ полей местных напряжений и расчет ожидаемых изменений поля напряжений в результате извлечения углеводородов и попутного закачивания жидкости и продуктов бурения, а также прогноз возможных последствий с сейсмологической точки зрения.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
