---
title: Сейсмическое микрорайонирование
description: 'Гарантия прохождения государственной экспертизы'
keywords: 'Сейсмическое микрорайонирование, сейсмическое районирование, СМР, локальные грунтовые условия, оценка сейсмичности, уточнение исходной сейсмичности, УИС, эталонный грунт, сейсмологические исследования, сейсмотектонические исследования, площадка строительства, карты ОСР, общее сейсмическое районирование, Строительство в сейсмических районах, ответственные объекты, сейсмическая опасность, метод сейсмических жесткостей, подбор акселерограмм, тектонический разлом, период повторяемости землетрясений, сейсмические воздействия'
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Инженерная геофизика', url: '/services#engineering-geophysics' }

  .row.text-center
    %h2 Сейсмическое микрорайонирование

  .row
    %p
      %strong Сейсмическое микрорайонирование (СМР)
      &mdash; уточнение сейсмичности на основе материалов уточнения исходной сейсмичности и детального сейсмического районирования с учётом локальных грунтовых условий по данным инженерно-геологических изысканий.

    %p Детальное сейсмическое районирование, уточнение исходной сейсмичности – оценка сейсмичности района или площадки строительства без учёта влияния локальных грунтовых условий, может рассчитываться на уровень коренных пород, либо на «эталонный грунт» (обычно грунт II категории или наиболее распространённый грунт на территории региона). Данный этап обычно предшествует сейсмическому микрорайонированию и предусматривает сейсмотектонические и сейсмологические исследования.

    %p Проведение cейсмического микрорайонирования площадок строительства зданий и сооружений предусмотрено в районах с сейсмичностью 7, 8 или 9 баллов согласно предварительной оценке на основе карт общего сейсмического районирования и табл. 1 СП 14.13330.2014. Сейсмическое микрорайонирование входит в состав комплексных инженерно-строительных изысканий.

  .row.text-center
    %h3 Область применения

  .row
    %li определение параметров прогнозируемых сейсмических воздействий для целей проектирования зданий и сооружений в сейсмически опасных районах.

  .row.text-center
    %h3 Нормативная база

  .row
    %li СП 14.13330.2014. Строительство в сейсмических районах (актуализированная версия СНиП II-7-81);
    %li СП 11-105-97. Свод правил по инженерным изысканиям для строительства. Инженерно-геологические изыскания для строительства;
    %li РСН 65-87. Инженерные изыскания для строительства. Сейсмическое микрорайонирование. Технические требования к производству работ;
    %li РСН 60-86. Инженерные изыскания для строительства. Сейсмическое микрорайонирование. Нормы производства работ.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Сейсмическое микрорайонирование. Фрагмент карты СМР', src: '/images/services/engineering-geophysics/engineering-16.jpg' }
      %i Сейсмическое микрорайонирование. Фрагмент карты СМР

    %p Компания ГЕОФИЗТЕХ проводит сейсмическое микрорайонирование местности, используя современные инструментальные, теоретические и программные разработки. Для наиболее ответственных объектов проводятся дополнительные работы по уточнению исходной сейсмичности площадки строительства или детальное сейсмическое районирование исследуемых территорий. Специалисты ГЕОФИЗТЕХ имеют опыт и возможности по сбору материалов и построению региональных баз данных параметров региональной сейсмичности, зон возможных очагов землетрясений, подбору соотношений затухания динамических параметров прогнозируемых сейсмических воздействий с учётом передового международного опыта в области оценки сейсмической опасности.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Разрез и годограф для поперечных сейсмических волн, по горизонтали отметка по профилю (в м), по оси ординат снизу времена вступления волн, по оси ординат сверху глубина, цифрами на разрезе приведены значения скоростей сейсмических волн (в м/с)', src: '/images/services/engineering-geophysics/engineering-17.png' }
      %i Разрез и годограф для поперечных сейсмических волн, по горизонтали отметка по профилю (в м), по оси ординат снизу времена вступления волн, по оси ординат сверху глубина, цифрами на разрезе приведены значения скоростей сейсмических волн (в м/с)

      %p В комплекс работ по сейсмическому микрорайонированию входят инженерно-геологические и инструментальные исследования, теоретические расчеты и специальные работы по выбору эталонных грунтов.

      %p При инженерно-геологических исследованиях мы используем методы наземной #{link_to 'инженерной сейсморазведки', '/services/seismic-survey'}: метод преломленных волн (МПВ, КМПВ), метод анализа поверхностных волн (MASW), а также #{link_to 'методы электроразведки', '/services/electric-exploration'}: вертикальное электрозондирование (ВЭЗ) и его модификации, электропрофилирование (ЭП).

      %p Дополнительно проводим инструментальные сейсмологические наблюдения для регистрации микросейсм и землетрясений на исследуемой территории. Для получения параметров прогнозируемых сейсмических воздействий для принятия проектных решений на последней стадии проектирования производятся специальные расчёты по методу сейсмических жесткостей (МСЖ) и методам моделирования с подбором акселерограмм-аналогов.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Определение активности сегментов тектонического разлома', src: '/images/services/engineering-geophysics/engineering-18.png' }
      %i Определение активности сегментов тектонического разлома

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Зависимости интенсивности пикового ускорения грунта (PGA) от периода повторяемости для рассматриваемой площадки', src: '/images/services/engineering-geophysics/engineering-23.png' }
      %i Зависимости интенсивности пикового ускорения грунта (PGA) от периода повторяемости для рассматриваемой площадки

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Результаты деагрегационного анализа позволяют оценить характеристические землетрясения, то есть наиболее вероятные для заданного уровня сейсмических воздействий', src: '/images/services/engineering-geophysics/engineering-24.png' }
      %i Результаты деагрегационного анализа позволяют оценить характеристические землетрясения, то есть наиболее вероятные для заданного уровня сейсмических воздействий

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Подбор акселерограмм-аналогов на основе проектного спектра реакции для заданного периода повторяемости по мировым    источникам и собственному банку данных', src: '/images/services/engineering-geophysics/engineering-25.png' }
      %i Подбор акселерограмм-аналогов на основе проектного спектра реакции для заданного периода повторяемости по мировым источникам и собственному банку данных

    %table.table.table-hover.table-bordered
      %tbody
        %tr
          %td Сейсморазведочные работы
          %td 48-канальная сейсмостанция, разрешение по времени — до 0,25 мс, глубинность исследований — до 50-100 м, разрешение по глубине — до десятых долей метра
        %tr
          %td Электроразведочные работы
          %td 48-электродная электроразведочная аппаратура, глубинность — до 100 м
        %tr
          %td Регистрация слабых землетрясений и микросейсм
          %td 3х-компонентная сейсмологическая станция Диапазон частот 0.5...65 Гц Частота дискретизации 125 Гц

  .row.text-center
    %h3 Этапы работ

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Основные этапы СМР', src: '/images/services/engineering-geophysics/engineering-26.png' }
      %i Основные этапы СМР


  .row
    %p Работы по проведению работ по сейсмическому микрорайонированию проходят в 2 этапа:

    %p
      %strong I этап.
      Проведение полевых работ.

    %p
      %strong II этап.
      Обработка и анализ данных с помощью современного специализированного программного обеспечения, составление отчета.

  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Высокая квалификация и большой опыт инженерного и научного персонала являются залогом качества проводимых работ.
      %li Современное оборудование и программное обеспечение способствуют увеличению производительности, повышению качества и сокращению сроков проведения работ.
      %li Большая база данных выполненных работ;
      %li Прозрачный расчёт стоимости проводимых работ.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
