---
title: Мониторинг сильных движений грунта
extra_css:
  - service
---

.container
  .row.text-center
    = partial :breadcrumbs, locals: { text: 'Сейсмический мониторинг', url: '/services#seismic-monitoring' }

  .row.text-center
    %h2 Мониторинг сильных движений грунта

  .row
    %p
      %strong Мониторинг сильных движений грунта
      &mdash; это специализированный
      = link_to 'сейсмический мониторинг', '/services/seismic-monitoring-system'
      , в рамках которого выполняется регистрация сильных движений грунта в режиме реального времени в контролируемых пунктах наблюдений (например, вдоль трассы магистрального трубопровода). Информация, содержащая результаты обработки сейсмологических данных, поставляется заказчику в оперативном режиме (время реакции ~10 сек).

  .row.text-center
    %h3 Область применения

  .row
    %li Эксплуатация объектов нефтегазовой инфраструктуры.
    %li Эксплуатация магистральных объектов (нефтепроводы, газопроводы, ЛЭП, теплотрассы).
    %li Экологическая безопасность.
    %li Эксплуатация ТЭЦ, ГЭС, ГРЭС, АЭС.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Общая схема организации мониторинга сильных движений грунта', src: '/images/services/seismic-monitoring/monitoring-9.png' }
      %i Общая схема организации мониторинга сильных движений грунта

  .row.text-center
    %h3 Задачи

  .row
    %p
      %strong Главная задача наблюдений
      заключается в передаче извещений о возникновении потенциально опасных движений грунта в центры управления эксплуатацией промышленных объектов заказчика, а также в осуществлении оперативного автоматизированного анализа полученных сейсмических данных для прогноза сейсмических воздействий, оценки возможного ущерба и степени риска повреждения производственных объектов.

    %p Одной из важнейших целей проведения такого анализа является принятие решения об адекватных мерах реагирования (например, требуется ли перекрыть трубопровод, остановить работу завода после землетрясения) и о составе и объеме инспекционных работ и работ по ликвидации последствий стихийного бедствия, которые потребуется провести.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Горизонтальные косейсмические смещения земной поверхности. Прямоугольником показана проекция модельной плоскости сейсморазрыва на земной поверхности', src: '/images/services/seismic-monitoring/monitoring-10.png' }
      %i Горизонтальные косейсмические смещения земной поверхности. Прямоугольником показана проекция модельной плоскости сейсморазрыва на земной поверхности

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Вертикальные косейсмические смещения земной поверхности. Прямоугольником показана проекция модельной плоскости сейсморазрыва на земной поверхности', src: '/images/services/seismic-monitoring/monitoring-11.png' }
      %i Вертикальные косейсмические смещения земной поверхности. Прямоугольником показана проекция модельной плоскости сейсморазрыва на земной поверхности

    %p
      В регионах с высоким уровнем сейсмической активности мониторинг сильных движений грунта комбинируется с существующими #{link_to 'системами мониторинга за естественной сейсмичностью', '/services/seismic-monitoring-system'}, либо данные локальной сейсмической сети сильных движений могут быть проанализированы с использованием информации о землетрясениях из международных  сейсмологических агентств.

    .col-lg-4
      %img.img-responsive.service-image{ alt: 'Монтаж сейсмических станций сотрудниками ГЕОФИЗТЕХ', src: '/images/services/seismic-monitoring/monitoring-12.jpg' }

    .col-lg-4
      %img.img-responsive.service-image{ alt: 'Монтаж сейсмических станций сотрудниками ГЕОФИЗТЕХ', src: '/images/services/seismic-monitoring/monitoring-13.jpg' }

    .col-lg-4
      %img.img-responsive.service-image{ alt: 'Монтаж сейсмических станций сотрудниками ГЕОФИЗТЕХ', src: '/images/services/seismic-monitoring/monitoring-14.jpg' }

    %p.text-center
      %i Монтаж сейсмических станций сотрудниками ГЕОФИЗТЕХ

    %p
      %strong Одна из важных задач настоящей услуги
      &mdash; мониторинг тектонических нарушений вблизи активных разломов.

    %p Мониторинг выполняется на пересечениях с активными разломами, имеющими высокую проектную амплитуду смещения. В общем случае зоны тектонических нарушений с проектной амплитудой смещения 1.0 м и более вызывают озабоченность в связи с тем, что возникающие при этом поверхностные трещины могут быть достаточно велики, чтобы вызвать деформацию магистральных объектов, требующую немедленного ремонта.

    %p Мониторинг тектонических нарушений является одним из компонентов сейсмического мониторинга и имеет своей целью определение параметров разрывов, возникающих на поверхности земли. Тектонические нарушения (разломы) классифицируются в зависимости от направления движения (смещения) по отношению к поверхности земли.
    %p Для выполнения расчётов косейсмических горизонтальных и вертикальных смещений земной поверхности при возникновении землетрясений требуется дополнительное развёртывание сети GPS приёмников, расположенных в непосредственной близости активных тектонических разломов.

    %p.text-center
      %img.img-responsive.service-image{ alt: 'Временные интервалы', src: '/images/services/seismic-monitoring/monitoring-15.png' }
      %i Временные интервалы

  .row.text-center
    %h3 Порядок информирования об опасных движениях грунта

  .row
    %p
      %strong I Этап (время реакции от 10 до 40 сек).
      Зарегистрированные данные о движениях грунта в пункте наблюдения поступают в модуль автоматизированной системы, интегрированной с информационными системами эксплуатации промышленных объектов. Поток зарегистрированных данных непрерывно анализируется на предмет превышения пороговых амплитудных значений (триггеров) на каждом пункте наблюдения. В случае регистрации опасных движений грунта заказчику будет направлена следующая информация:

      %li идентификатор пункта наблюдения;
      %li точное время превышения порогового значения;
      %li измеренные параметры PGA;
      %li возможный уровень опасности.

    %p Результаты обработки I этапа возможно интегрировать в центре эксплуатации промышленных объектов в виде светодиодных огней, когда при превышении опасного триггера в соответствующей точке на экране оператора зажигается цветовой код (например, красный свет).

    %p
      %strong II Этап (время реакции от 3 до 6 минут).
      Информационная система на базе полного набора зарегистрированных данных, выполняет автоматическую обработку данных. В оперативном режиме будет доступна следующая информация:

      %li измеренные параметры PGA;
      %li координаты эпицентра;
      %li глубина очага;
      %li время в очаге;
      %li магнитуда;
      %li расстояние от эпицентра до ближайшего объекта Заказчика;
      %li рассчитанные параметры PGA в виде излолиний интерактивной топографической карте аналогично технологии ShakeMap USGS;
      %li рассчитанные с высокой точностью параметры PGA/PGV на топографической карте с цветовой маркировкой участков промышленных объектов на которые было оказано опасное влияние сейсмических проявлений;
      %li рассчитанную интенсивность по шкале MSK64 до ближайших промышленных объектов;
      %li оценка погрешности в расчётах.

    %p
      %strong III этап (время реакции от 10 до 40 минут).
      Зарегистрированная и обработанная информация в автоматическом режиме дополняется результатами постобработки с участием сейсмолога-аналитика, которые содержат:

      %li механизм очага / тензор сейсмического момента для землетрясений с магнитудой М > 4.5;
      %li расчет косейсмических горизонтальных и вертикальных смещений земной поверхности при возникновении сейсмических событий с магнитудой М > 5.0.


  .row.text-center
    %h3 Наши преимущества

  .row
    %ol
      %li Полный спектр работ: поставка и монтаж регистрирующего оборудования, полевые работы, развёртывание информационных систем, интеграция решения в проектную документацию.
      %li Непрерывная техническая поддержка сейсмологического оборудования и информационных систем.
      %li Уникальные технологические разработки компании в области моделирования сейсмических воздействий, аппаратного обеспечения, ИТ-систем - это сейсмический мониторинг международного уровня.
      %li Независимый подбор оборудования: услуга не привязана к конкретным аппаратным решениям, что обеспечивает гибкий подход к выбору регистрирующего и вычислительного оборудования.
      %li Высокая квалификация инженерного персонала, большой опыт выполнения непрерывного мониторинга в сейсмически активных регионах.
      %li Уникальная база знаний и научный персонал обеспечат лучший и точный результат при обработке зарегистрированной сейсмической информации.
      %li Подбор уникального сбалансированного решения под каждый проект.
      %li Минимальный срок внедрения. Запуск услуги в течение 20 дней.
      %li Прозрачный расчёт стоимости на каждом этапе внедрения услуги.

    %p
      Отправьте заявку по
      = link_to 'e-mail', '/contacts'
      или свяжитесь с нами по
      = link_to 'телефону.', 'tel:+78005001169'
      Для задач вашего проекта в течение пяти рабочих дней будут подобраны оптимальные варианты решений с более детальным описанием и расчётом стоимости.
