.container
  .row.footer
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.social-media
      = link_to 'https://t.me/geophystech', data: { toogle: 'tooltip' }, title: 'Telegram' do
        %i.fa.fa-telegram.fa-lg

      = link_to 'https://twitter.com/geophystech_llc', data: { toogle: 'tooltip' }, title: 'Twitter' do
        %i.fa.fa-twitter.fa-lg

      = link_to 'https://www.youtube.com/channel/UCazw8yZGrlFm2f8iZNcLTxA/videos',
        data: { toogle: 'tooltip' }, title: 'YouTube' do
        %i.fa.fa-youtube-play.fa-lg

      = link_to 'https://github.com/geophystech/',
        data: { toogle: 'tooltip' }, title: 'GitHub' do
        %i.fa.fa-github.fa-lg

      = link_to 'https://www.instagram.com/geophystech',
        data: { toogle: 'tooltip' }, title: 'Instagram' do
        %i.fa.fa-instagram.fa-lg

      = link_to 'https://www.facebook.com/geophystech',
        data: { toogle: 'tooltip' }, title: 'Facebook' do
        %i.fa.fa-facebook-square.fa-lg

      = link_to 'https://vk.com/geophystech',
        data: { toogle: 'tooltip' }, title: 'VK' do
        %i.fa.fa-vk.fa-lg

    .col-lg-1.col-xs-6.left-part
      = link_to '/', data: { toogle: 'tooltip' }, title: 'Геофизические технологии' do
        %img{ alt: 'GEOPHYSTECH LLC logo', src: '/images/logos/geophystech.png' }


    .col-lg-10.col-xs-12.central-part
      .long-title
        ООО "Геофизические технологии"
      .slogan
        Инновации. Качество. Безопасность.

    .col-lg-1.col-xs-6.right-part
      = link_to 'https://eqalert.ru', data: { toogle: 'tooltip' }, title: 'EQAlert' do
        %img{ alt: 'eqalert.ru logo', src: '/images/logos/eqalert_beta.png' }

    / Копирайт и год вставляются с помощью javascript'а.
    .col-lg-12.hidden-xs.copyright

