%nav.navbar.navbar-fixed-top
  .container-fluid
    .col-lg-2.col-md-10.col-sm-10.col-xs-8.header-logo
      = link_to '/', data: { toogle: 'tooltip' }, title: 'Геофизические технологии' do
        %img.img-responsive{ alt: 'GEOPHYSTECH LLC logo', src: '/images/logos/geophystech.png' }

    .col-lg-7.col-md-1.col-sm-1.col-xs-2.header-menu
      %button.navbar-toggle.collapsed{ aria: { expanded: 'false' },
        data: { target: '#menu-items', toggle: 'collapse' }, type: 'button' }
        %i.fa.fa-bars.fa-lg

      .collapse.navbar-collapse#menu-items
        = navbar_link 'УСЛУГИ',     '/services'
        = navbar_link 'О КОМПАНИИ', '/about'
        = navbar_link 'КОНТАКТЫ',   '/contacts'
        = navbar_link 'РЕКВИЗИТЫ',  '/banking-information'

    .col-lg-2.col-md-1.col-sm-1.col-xs-2.header-phone
      = link_to 'tel:+78005001169', class: 'phone' do
        %i.fa.fa-phone.fa-lg
        %span.phone-prepend 8 (800)
        %span 500-11-69

    .col-lg-1.col-md-1.col-sm-1.col-xs-1.header-social-media
      = link_to 'https://t.me/geophystech', data: { toogle: 'tooltip' }, title: 'Telegram' do
        %i.fa.fa-telegram.fa-lg

      = link_to 'https://twitter.com/geophystech_llc', data: { toogle: 'tooltip' }, title: 'Twitter' do
        %i.fa.fa-twitter.fa-lg

      = link_to 'https://www.youtube.com/channel/UCazw8yZGrlFm2f8iZNcLTxA/videos',
        data: { toogle: 'tooltip' }, title: 'YouTube' do
        %i.fa.fa-youtube-play.fa-lg

      = link_to 'https://github.com/geophystech/',
        data: { toogle: 'tooltip' }, title: 'GitHub' do
        %i.fa.fa-github.fa-lg

      = link_to 'https://www.instagram.com/geophystech',
        data: { toogle: 'tooltip' }, title: 'Instagram' do
        %i.fa.fa-instagram.fa-lg

      = link_to 'https://www.facebook.com/geophystech',
        data: { toogle: 'tooltip' }, title: 'Facebook' do
        %i.fa.fa-facebook-square.fa-lg

      = link_to 'https://vk.com/geophystech',
        data: { toogle: 'tooltip' }, title: 'VK' do
        %i.fa.fa-vk.fa-lg
