!!! 5
%html{ lang: 'ru' }
  %head
    %title= current_page.data.title ? "#{current_page.data.title} | Геофизические технологии" : 'Геофизические технологии'

    = partial 'layouts/meta_tags'
    = partial 'layouts/favicon'

    = stylesheet_link_tag 'site'
    = javascript_include_tag 'site'

    = partial 'layouts/google_analytics'
    = partial 'layouts/yandex_metrika'

    - current_page.data.extra_css&.each do |css_name|
      = stylesheet_link_tag css_name
  %body
    = partial 'layouts/header'
    = yield
    = partial 'layouts/footer'
