---
title: О компании
extra_css:
  - about
---

.container
  .row.text-center
    %h2 О компании

  .row
    %p Общество с ограниченной ответственностью «Геофизические технологии» (ООО “ГЕОФИЗТЕХ”) зарегистрировано на территории Сахалинской области 23 июля 2014 года. ООО “ГЕОФИЗТЕХ” &mdash; это инновационное предприятие. Основу компании составляют результаты прикладных исследований и разработок в области геофизики, сейсмологии, информационных технологий.

    %p Цель компании &mdash; практическое применение результатов интеллектуальной деятельности в реальном секторе экономики, разработка качественно новых услуг в области геофизики.

    %p Миссия компании &mdash; повышение конкурентоспособности российских высокотехнологичных услуг на международном уровне.

    %p Команда профессионалов ООО “ГЕОФИЗТЕХ” состоит из молодого коллектива геофизиков, инженеров, исследователей. ООО “ГЕОФИЗТЕХ” привлекает ведущих российских специалистов к решению прикладных задач. Создание уникальных инженерных решений в рамках каждого проекта, лучшая отчётная документация, чётко организованный трудовой процесс, ответственность и репутация &mdash; это ключевые преимущества ООО “ГЕОФИЗТЕХ”.

  .row.text-center
    %h2 Лицензии и сертификаты

  .row
    %p ООО “ГЕОФИЗТЕХ” является членом саморегулируемой организации #{link_to '(СРО) НП «Стандарт-Изыскания»', 'http://si-sro.info/'} (Регистрационный номер в государственном реестре саморегулируемых организаций СРО-И-029-25102011).

    %p На основании #{link_to 'Свидетельства № СРОСИ-И-02051.1-28112014', '/documents/2051.1Svidetelstvo.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 7.9 МБ'} ООО “ГЕОФИЗТЕХ” имеет допуск к работам (до 01.07.2017), оказывающих влияние на безопасность объектов капитального строительства.

    %p На основании #{link_to 'Протокола №1350', '/documents/Протокол №1350 СИ от 03.07.2017.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 39.5 МБ'} от 03.07.2017 заседания Совета Союза «Стандарт-Изыскания» ООО “ГЕОФИЗТЕХ” наделён правом выполнять работы по инженерным изысканиям с 01.07.2017. #{link_to 'Выписка из реестра', '/documents/2017-08-01 Выписка из реестра членов СРО №290.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 2 МБ'} членов СРО (СРО-И-029-25102011) №290 от 01.08.2017.

    %p ООО “ГЕОФИЗТЕХ” #{link_to 'является субъектом малого предпринимательства', '/documents/СВЕДЕНИЯ из из Единого реестра субъектов МСП от 27.03.2017.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 0.13 МБ'}. Компания #{link_to 'аккредитована ПАО “НК РОСНЕФТЬ”', '/documents/Аккредитация Роснефть.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 0.8 МБ'} для участия в закупочных процедурах.

  .row.text-center
    %h2 Политика в области качества, экологии и охраны труда

  .row

    %p Инновации &mdash; ООО “ГЕОФИЗТЕХ” постоянно осуществляет поиск новых технологий и осваивает лучшие технические решения в мировой практике.

    %p Качество &mdash; это основной критерий оценки оказанных услуг. ООО “ГЕОФИЗТЕХ” стремится выполнить всё возможное для обеспечения максимального уровня услуг на базе существующих технологий и собственных разработок.

    %p Индивидуальный подход &mdash; участие в каждом проекте, взаимодействие с каждым заказчиком, это всегда уникальный процесс. Команда ООО “ГЕОФИЗТЕХ” принимает во внимание каждую деталь проекта и стремится организовать максимально комфортную работу для выполнения целей клиента.

    %p Прозрачность &mdash; открытость на каждом этапе оказания услуг, понятное формирование коммерческих условий, следование законодательным нормам является гарантией долгосрочного сотрудничества.

    %p Безопасность &mdash; руководство компании уделяет большое внимание защите здоровья и обеспечению безопасности работников в процессе трудовой деятельности, а также сокращению негативного воздействия деятельности компании на окружающую среду.

    %p Руководство ООО “ГЕОФИЗТЕХ” объявляет о своей приверженности принципам менеджмента качества и гарантирует сотрудникам, клиентам и партнёрам ГЕОФИЗТЕХ их выполнение в соответствии с положениями, заявленными в #{link_to 'настоящей политике', '/documents/politikaGFT.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 0.4 МБ'}.

  .row.text-center
    %h2 Реализация политики в области качества осуществляется:

  .row
    %li обеспечением инновационного развития компании с помощью разработки и внедрения в производственные процессы методов, основанных на использовании научно-технических достижений;
    %li поддержанием обратной связи с клиентами и постоянным улучшением качества оказываемых услуг;
    %li соблюдением требований применимого к деятельности ООО "ГЕОФИЗТЕХ" федерального, регионального и территориального законодательства в области качества, профессиональной безопасности и охраны труда, окружающей среды;
    %li соблюдением требований внешних и внутренних правовых документов;
    %li обеспечением интегрированной системы менеджмента необходимыми трудовыми, финансовыми и прочими ресурсами, содействием развитию системы и постоянному улучшению;
    %li обучением сотрудников основам профессиональной безопасности и экологического воспитания;
    %li инвестированием в  покупку надежного оборудования, средств индивидуальной защиты;
    %li информированием сотрудников и подрядчиков о действии в ООО “ГЕОФИЗТЕХ” соответствующих стандартов и норм в области качества, профессиональной безопасности и охраны труда, окружающей среды;
    %li ежегодным анализом деятельности предприятия по достижению поставленных задач, анализом и пересмотром настоящей политики с целью обеспечения её соответствия целям и задачам ООО “ГЕОФИЗТЕХ”.

  .row.text-center
    %h2 Основные направления и виды деятельности Общества

  .row
    %li Оценка сейсмической опасности, прогноз сейсмических воздействий и построение карт детального сейсмического районирования и микрорайонирования для населенных пунктов, отдельных площадок и различных территорий. Проведение сейсмотектонических исследований.
    %li Осуществление технического контроля зданий и сооружений с целью определения сейсмостойкости и оценки уязвимости объектов.
    %li Организация и проведение сейсмического мониторинга для регистрации сейсмических сигналов естественного и техногенного характера.
    %li Проведение исследований наведенной сейсмичности и разработка моделей сейсмической активизации в результате промышленной эксплуатации нефтегазовых месторождений.
    %li Проведение комплексных работ по адаптации передовых международных методов поиска, разведки и добычи полезных ископаемых на производственной базе заинтересованных российских организаций всех форм собственности и государственных учреждений Российской Федерации.
    %li Проведение геологических, геофизических и геодезических работ с использованием новых и традиционных технологий.
    %li Проведение фундаментальных и поисковых научных геофизических исследований в сейсмологии, геологии, геодезии, информатике и других смежных областях науки.
    %li Выполнение прикладных научных исследований, их внедрение в практическую деятельность, направленную на получение технологических, процессных, организационных и маркетинговых инноваций.
    %li Проведение научно-технических экспертиз.
    %li Разработка новых геофизических технологий снижения риска природных и техногенных катастроф.
    %li Разработка новых программных и аппаратных средств мониторинга геофизическими методами.
    %li Разработка автоматизированных информационных систем, ориентированных на сбор, обработку и анализ геофизических данных.
    %li Осуществление патентования и других методов защиты изобретений и научно-технических разработок предприятия в порядке, установленном законодательством Российской Федерации.
    %li Оказание консультационных услуг во всех сферах деятельности, связанных с геофизикой, российским и иностранным организациям всех форм собственности, государственным учреждениям Российской Федерации.

  .row.text-center
    %h2 Коды видов экономической деятельности по ОКВЭД ОК 029-2014 КДЕС. Ред. 2

  .row
    %p 71.12.45 Инженерные изыскания в строительстве.
    %p 62.01 Разработка компьютерного программного обеспечения.
    %p 62.02 Деятельность консультативная и работы в области компьютерных технологий.
    %p 62.09 Деятельность, связанная с использованием вычислительной техники и информационных технологий, прочая.
    %p 63.11.1 Деятельность по созданию и использованию баз данных и информационных ресурсов.
    %p 71.12.3 Работы геологоразведочные, геофизические и геохимические в области изучения недр и воспроизводства минерально-сырьевой базы.
    %p 71.12.41 Деятельность топографо-геодезическая.
    %p 71.20.9 Деятельность по техническому контролю, испытаниям и анализу прочая.
    %p 72.19 Научные исследования и разработки в области естественных и технических наук, прочие.

