---
title: Контакты
description: 'Контактная информация руководителей компании'
extra_css:
  - contacts
---

.container.no-padding.text-center
  %h2 Контакты

  .row
    .employee-card
      %h4 Манайчев Константин Александрович
      .position Директор

      = link_to '8 (800) 500-11-69 (добавочный 9003)', 'tel:+78005001169', class: 'phone'
      .email= link_to 'k.manaychev@geophystech.ru', 'mailto: k.manaychev@geophystech.ru'
      .work-area Сейсмическое районирование, геофизические работы

  .row
    .employee-card
      %h4 Степнов Андрей Александрович
      .position Заместитель директора по коммерческим вопросам
      .academic-degree Кандидат физико-математических наук

      = link_to '8 (800) 500-11-69 (добавочный 9002)', 'tel:+78005001169', class: 'phone'
      .email= link_to 'a.stepnov@geophystech.ru', 'mailto: a.stepnov@geophystech.ru'
      .work-area Сейсмический мониторинг, коммерциализация результатов интеллектуальной деятельности

    .employee-card
      %h4 Коновалов Алексей Валерьевич
      .position Заместитель директора по научной работе
      .academic-degree Кандидат физико-математических наук

      = link_to '8 (800) 500-11-69 (добавочный 9001)', 'tel:+78005001169', class: 'phone'
      .email= link_to 'a.konovalov@geophystech.ru', 'mailto: a.konovalov@geophystech.ru'
      .work-area Консультационные услуги, прикладные научные исследования и разработки

  .row
    .employee-card
      %h4 Гаврилов Александр Викторович
      .position Главный инженер

      = link_to '8 (800) 500-11-69 (добавочный 9004)', 'tel:+78005001169', class: 'phone'
      .email= link_to 'a.gavrilov@geophystech.ru', 'mailto: a.gavrilov@geophystech.ru'
      .work-area Разработка оборудования, развитие телеметрической сети

    .employee-card
      %h4 Борисова Евгения Александровна
      .position Офис-менеджер

      = link_to '8 (800) 500-11-69 (добавочный 9010)', 'tel:+78005001169', class: 'phone'
      .email= link_to 'e.borisova@geophystech.ru', 'mailto: e.borisova@geophystech.ru'
      .work-area Сопровождение контрактов, общие вопросы

.container-fluid.no-padding
  .row
    %iframe{ src: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2724.372782653974!2d142.7327783156074!3d46.934711979145945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x11d0c5669dc1ba1d!2sGEOPHYSTECH+LLC!5e0!3m2!1sru!2s!4v1497936782797' }
