---
title: Главная
description: 'Полный комплекс геофизических работ для изыскателей, строителей и проектировщиков'
extra_css:
  - mainpage
---

.container-fluid.no-padding.mainpage
  .content
    .promo
      %h1 Геофизические технологии
      = link_to 'ВСЕ УСЛУГИ', '/services', class: 'btn btn-lg', role: 'button'

    .info
      %img.info-logo{ alt: 'GEOPHYSTECH LLC logo', src: '/images/logos/geophystech.png' }
      %h2
        %span Уникальные разработки.
        %span Команда профессионалов.
        %span Индивидуальный подход.
      = link_to 'О КОМПАНИИ', '/about', class: 'btn btn-lg', role: 'button'

    .services
      %h1 Полный комплекс геофизических работ

      .row
        .col-lg-4.col-xs-12.service-image-left
          %img.img-responsive{ src: '/images/services/engineering-geophysics/engineering-13.png' }

        .col-lg-4.col-xs-12.service-text-right
          %h3 Инженерная геофизика

          %p Компания выполняет геофизические исследования в рамках инженерно-геологических изысканий. Результаты геофизических работ тесно связаны с задачами проектирования, строительства и эксплуатации зданий, сооружений и магистральных объектов.

          %p Геофизические исследования являются неотъемлемой частью работ по сейсмическому микрорайонированию территории (площадки строительства).

          .slides= link_to 'Скачать презентацию', '/documents/2017-08-02 Инженерная геофизика.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 19.9 МБ'

          = link_to_read_more('Подробнее об инженерной геофизике', '/services#engineering-geophysics')

      .row
        .col-lg-4.col-xs-12.service-image-right
          %img.img-responsive{ src: '/images/services/seismic-monitoring/monitoring-18.png' }

        .col-lg-4.col-xs-12.service-text-left
          %h3 Сейсмический мониторинг

          %p Сейсмический мониторинг - это комплекс работ, направленный на регистрацию, обработку и анализ сейсмических сигналов естественного и техногенного характеров в пределах наблюдаемой территории.

          %p Важное практическое значение услуги - обеспечение сейсмической безопасности для устойчивой работы промышленных объектов, эксплуатации зданий и сооружений и снижение экологических рисков.

          .slides= link_to 'Скачать презентацию', '/documents/2017-04-25 Общая презентация.pdf', data: { toogle: 'tooltip' }, title: 'PDF, 29.7 МБ'

          = link_to_read_more('Подробнее о сейсмическом мониторинге', '/services#seismic-monitoring')

      .row
        .col-lg-4.col-xs-12.service-image-left
          %img.img-responsive{ src: '/images/services/consulting/consulting-1.png' }

        .col-lg-4.col-xs-12.service-text-right
          %h3 Консультационные услуги

          %p Природные и техногенные катастрофы (землетрясения, оползни, разжижение грунта, цунами, размывы берегов) могут повлиять на безопасность работы объектов промышленного комплекса и оказать воздействие на окружающую среду.

          %p Компания предлагает выработку индивидуального плана мониторинговых работ и изысканий для оценки потенциального ущерба и опасных факторов в результате возникновения природных и техногенных катастроф, с учетом российских нормативно-правовых актов и лучших достижений из международной практики.

          = link_to_read_more('Подробнее об консультационных услугах', '/services#consulting')

    .partners.col-lg-12.col-xs-12
      %h3 Наши клиенты и партнёры

      %span
        = link_to 'http://65.mchs.gov.ru/', data: { toogle: 'tooltip' }, title: 'МЧС России' do
          %img.img-responsive{ alt: 'МЧС России', src: '/images/logos/mchs.png' }

        = link_to 'http://www.sakhalinenergy.ru/ru/index.wbp', data: { toogle: 'tooltip' }, title: 'Сахалинская энергия' do
          %img.img-responsive{ alt: 'Сахалинская энергия', src: '/images/logos/sakhalin_energy.png' }

        = link_to 'http://www.sakhalin-1.ru/', data: { toogle: 'tooltip' }, title: 'Эксон Нефтегаз Лимитед' do
          %img.img-responsive{ alt: 'Эксон Нефтегаз Лимитед', src: '/images/logos/exxon.png' }

        = link_to 'http://www.dv.gkovd.ru', data: { toogle: 'tooltip' }, title: 'Аэронавигация Дальнего Востока' do
          %img.img-responsive{ alt: 'Аэронавигация Дальнего Востока', src: '/images/logos/gkovd.png' }

        = link_to 'http://www.sgpsakh.ru', data: { toogle: 'tooltip' }, title: 'САХАЛИНГРАЖДАНПРОЕКТ' do
          %img.img-responsive{ alt: 'САХАЛИНГРАЖДАНПРОЕКТ', src: '/images/logos/sgp.png' }

        = link_to 'http://sakhtisiz.com', data: { toogle: 'tooltip' }, title: 'Сахалин Тисиз' do
          %img.img-responsive{ alt: 'Сахалин Тисиз', src: '/images/logos/tizis.png' }

        = link_to 'http://www.giprogazcentr.ru', data: { toogle: 'tooltip' }, title: 'ГИПРОГАЗЦЕНТР' do
          %img.img-responsive{ alt: 'ГИПРОГАЗЦЕНТР', src: '/images/logos/giprogazcentr.png' }

        = link_to 'http://pecoltd.ru', data: { toogle: 'tooltip' }, title: 'Тихоокеанская инжиниринговая компания' do
          %img.img-responsive{ alt: 'Тихоокеанская инжиниринговая компания', src: '/images/logos/peco.png' }
