---
title: Услуги
extra_css:
  - services
---

.container-fluid
  .services
    .row.text-center#seismic-monitoring
      %h2 Сейсмический мониторинг

    .row.row-service
      .col-lg-4.col-xs-12.service-image-left
        %img.img-responsive{ src: '/images/services/seismic-monitoring/monitoring-2.png' }

      .col-lg-4.col-xs-12.service-text-right
        %h3 Мониторинг естественной и наведённой сейсмичности

        %p Сейсмический мониторинг &mdash; это комплекс работ, направленный на регистрацию, обработку и анализ сейсмических сигналов естественного и техногенного происхождения. Услуга предназначена для защиты населения при ЧС, свзанных с сильными землетрясениями, обеспечение безопасности при эксплуатации нефтегазовых месторождений и купных промышленных объектов. Ключевое преимущество ГЕОФИЗТЕХ - оперативная оценка состояния зданий, сооружений и магистральных объектов.

        = link_to_read_more('Подробнее о мониторинге сейсмичности', '/services/seismic-monitoring-system')

    .row.row-service
      .col-lg-4.col-xs-12.service-image-right
        %img.img-responsive{ src: '/images/services/seismic-monitoring/monitoring-14.jpg' }

      .col-lg-4.col-xs-12.service-text-left
        %h3 Мониторинг сильных движений грунта

        %p Cпециализированный сейсмический мониторинг, в рамках которого выполняется регистрация сильных движений грунта в режиме реального времени в контролируемых пунктах наблюдений (например, вдоль трассы магистрального трубопровода). Информация, содержащая результаты обработки сейсмологических данных, поставляется заказчику в оперативном режиме (время реакции ~10 сек). Выполняется оперативный расчёт PGA, PGV, горизонтальных и вертикальных смещений.

        = link_to_read_more('Подробнее о мониторинге сильных движений грунта', '/services/strong-motion-monitoring')

    .row.row-service
      .col-lg-4.col-xs-12.service-image-left
        %img.img-responsive{ src: '/images/services/seismic-monitoring/monitoring-19.png' }

      .col-lg-4.col-xs-12.service-text-right
        %h3 Сейсмометрический контроль зданий и сооружений

        %p После возникновения сильного землетрясения необходимо максимально быстро получить точную оценку состояния конструкций здания для оперативной оценки структурной целостности сооружения. Для этого в здания устанавливаются специализированное недорогое регистрирующее оборудование (акселерометры). Инструментально зафиксированные данные позволяют инженерам своевременно оценить безопасность и функциональность конструкций здания.

        = link_to_read_more('Подробнее о сейсмометрическом контроле', '/services/structural-health-monitoring')


    .row.text-center#engineering-geophysics
      %h2 Инженерная геофизика

    .row.row-service
      .col-lg-4.col-xs-12.service-image-right
        %img.img-responsive{ src: '/images/services/engineering-geophysics/engineering-16.jpg' }

      .col-lg-4.col-xs-12.service-text-left
        %h3 Сейсмическое микрорайонирование

        %p Область применения услуги: определение параметров прогнозируемых сейсмических воздействий для целей проектирования зданий и сооружений в сейсмически опасных районах. Проведение cейсмического микрорайонирования площадок строительства зданий и сооружений предусмотрено в районах с сейсмичностью 7, 8 или 9 баллов согласно предварительной оценке на основе карт общего сейсмического районирования. Сейсмическое микрорайонирование входит в состав комплексных инженерно-строительных изысканий.

        = link_to_read_more('Подробнее о сейсмическом микрорайонировании', '/services/seismic-microzonation')

    .row.row-service
      .col-lg-4.col-xs-12.service-image-left
        %img.img-responsive{ src: '/images/services/engineering-geophysics/engineering-13.png' }

      .col-lg-4.col-xs-12.service-text-right
        %h3 Сейсморазведочные работы

        %p ГЕОФИЗТЕХ специализируется на проведении инженерной сейсморазведки, характеризующейся глубинностью исследований до 50-100 м и разрешением до десятых долей метра. В работе мы используем: современное оборудование, специализированное ПО, широкий спектр методов проведения наземных сейсморазведочных работ и анализа данных по преломленным (МПВ, КМПВ), отраженным (МОВ, ОГТ), поверхностным волнам (MASW).

        = link_to_read_more('Подробнее о сейсморазведочных работах', '/services/seismic-survey')

    .row.row-service
      .col-lg-4.col-xs-12.service-image-right
        %img.img-responsive{ src: '/images/services/engineering-geophysics/engineering-6.png' }

      .col-lg-4.col-xs-12.service-text-left
        %h3 Электроразведочные работы

        %p Электроразведка предназначена для решения большого круга инженерно-геологических, гидрогеологических и специальных задач. Применение электроразведочных методов основано на различии грунтов по электрическим свойствам. Объектом исследований как правило является верхняя часть разреза (ВЧР), обладающая значительной неоднородностью, изменчивостью литологического состава, строения и физических свойств горных пород.

        = link_to_read_more('Подробнее об электроразведочных работах', '/services/electric-exploration')

    .row.row-service
      .col-lg-4.col-xs-12.service-image-left
        %img.img-responsive{ src: '/images/services/engineering-geophysics/engineering-4.jpg' }

      .col-lg-4.col-xs-12.service-text-right
        %h3 Оценка параметров собственных колебаний зданий

        %p Услуга предназначена для выполнения обследования и мониторинга технического состояния зданий и сооружений. Суть метода заключается в одновременном измерении естественных микросейсмических колебаний здания несколькими сейсмостанциями, расположенными в разных частях здания, при этом после каждого измерения, длящегося 20-30 мин, станции перемещаются. Для определения параметров основных мод собственных колебаний здания обычно требуется 3-5 измерений.

        = link_to_read_more('Подробнее об оценке', '/services/evaluating-natural-frequencies-of-buildings')

    .row.row-service
      .col-lg-4.col-xs-12.service-image-right
        %img.img-responsive{ src: '/images/services/engineering-geophysics/engineering-1.jpg' }

      .col-lg-4.col-xs-12.service-text-left
        %h3 Георадарные работы

        %p Георадиолокация &mdash; неразрушающий метод исследования и контроля применяемый в решении геофизических задач, контроля инженерных конструкций в строительстве, поисковых и археологических задачах. Результат услуги - непрерывный разрез среды, в которой производится диагностика. Объектом исследований может быть практически любая неметаллическая среда: грунт, дорожное полотно, стена и т.п.

        = link_to_read_more('Подробнее о георадарных работах', '/services/ground-penetrating-radar-services')

    .row.text-center#consulting
      %h2 Консультационные услуги

    .row.row-service
      .col-lg-4.col-xs-12.service-image-left
        %img.img-responsive{ src: '/images/services/consulting/consulting-1.png' }

      .col-lg-4.col-xs-12.service-text-right
        %h3 Анализ устойчивости геосреды на внешние воздействия

        %p Освоение шельфовых месторождений характеризуется высокими трбованиями к экологической безопасности. Техногенные воздействия на недра могут спровоцировать землетрясения индуцированной природы. Услуга основана на данных комплексного мониторинга сейсмических колебаний с учётом географических и геологических особенностей региона, а также на базе компьютерного моделирования процессов изменений в геологической среде, возникающих в результате разработки месторождения.

        = link_to_read_more('Подробнее об анализе', '/services/analysis-of-geomedium-response-to-external-impacts')

    .row.row-service
      .col-lg-4.col-xs-12.service-image-right
        %img.img-responsive{ src: '/images/services/consulting/consulting-5.jpg' }

      .col-lg-4.col-xs-12.service-text-left
        %h3 Разработка индивидуальной стратегии мониторинга геосреды

        %p Данная услуга предлагает выработку индивидуального плана мониторинговых работ и изысканий для оценки потенциального ущерба и опасных факторов в результате возникновения природных и техногенных катастроф, которые могут повлиять на безопасность работы объектов нефтегазового комплекса и оказать воздействие на окружающую среду, с учетом российских нормативно-правовых актов и лучших достижений из международной практики.

        = link_to_read_more('Подробнее о разработке', '/services/geohazard-plan')
